<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #monitorinigStationTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="monitorinigStationType.id">{{l("EditMonitorinigStationType")}}</span>
                        <span *ngIf="!monitorinigStationType.id">{{l("CreateNewMonitorinigStationType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="MonitorinigStationType_Name">{{l("Name")}}</label>
									<input type="text" id="MonitorinigStationType_Name" class="form-control" [(ngModel)]="monitorinigStationType.name" name="Name"     required/>
								</div>
					
								<div class="form-group">
									<label for="MonitorinigStationType_Type">{{l("Type")}}</label>
									<select class="form-control" name="Type" id="MonitorinigStationType_Type" [(ngModel)]="monitorinigStationType.type">
									<option value="1">{{l('Enum_MonitoringStationType_1')}}</option>

									<option value="2">{{l('Enum_MonitoringStationType_2')}}</option>

									<option value="3">{{l('Enum_MonitoringStationType_3')}}</option>

									<option value="4">{{l('Enum_MonitoringStationType_4')}}</option>

									<option value="5">{{l('Enum_MonitoringStationType_5')}}</option>


									</select>
								</div>
					
								<div class="form-group">
									<label for="MonitorinigStationType_SensorsNumbers">{{l("SensorsNumbers")}}</label>
									<input type="number" id="MonitorinigStationType_SensorsNumbers" class="form-control" [(ngModel)]="monitorinigStationType.sensorsNumbers" name="SensorsNumbers"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!monitorinigStationTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>