<td-layout-nav logo="assets:logo" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>{{toolbarTitle}} </span>
    <span flex></span>
    <td-toolbar td-toolbar-content flex layout="row"></td-toolbar>
  </div>
  <td-layout-manage-list
                        [opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">


    <mat-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <a mat-list-item (click)="nuovaIscrizione()" matTooltip="Add" matTooltipPosition="before">
            <mat-icon matListIcon>add_circle_outline</mat-icon>
            Nuova iscrizione
            
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="removeFilter()" matTooltip="View all" matTooltipPosition="before">
        <mat-icon matListIcon>reorder</mat-icon>
        Tutte
      </a>
      <a mat-list-item (click)="filterPerStatus(40)"  matTooltip="View comitted" matTooltipPosition="before">
        <mat-icon matListIcon>verified_user</mat-icon>
        Completata
      </a>
      <a mat-list-item (click)="filterPerStatus(10)"  matTooltip="View in work" matTooltipPosition="before">
        <mat-icon matListIcon>supervisor_account</mat-icon>
        In lavorazione
      </a>
      <a mat-list-item (click)="filterPerStatus(30)" matTooltip="View arhived" matTooltipPosition="before">
        <mat-icon matListIcon>inbox</mat-icon>
        Archiviate
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="abbandonaRegistro()" matTooltip="Delete all" matTooltipPosition="before">
          <mat-icon matListIcon>close</mat-icon>
          Ritiro iscrizione
        </a>
    </mat-nav-list>
    
    <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <ng-template tdLoading="iscrizioni.list">
        <mat-list class="will-load">
          <div class="pad" *ngIf="praticheFiltrate?.length === 0" layout="row" layout-align="center center">
            <h3>Lista Iscrizioni</h3>
          </div>
          <ng-template let-pratica let-last="last" ngFor [ngForOf]="praticheFiltrate">
            <mat-list-item>
              <mat-icon matListAvatar>receipt</mat-icon>
              <h3 matLine> {{pratica.name}} </h3>
              
              <p matLine>{{pratica.extendedData.nome}} {{pratica.extendedData.cognome}} - {{pratica.extendedData.pec}} </p>
              <p matLine> Numero: {{pratica.id}} </p>
              <p matLine hide-gt-md class="mat-caption"> ultima modifica: {{ pratica.modifiedOn | timeAgo }} </p>
              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ getStatusString(pratica) }} </div>
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ pratica.createdOn | date }} </div>
                  <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ pratica.modifiedOn | timeAgo }} </div>
              </span>
        <span flex></span>
        <button mat-icon-button *ngIf="(pratica.status < 30)" (click)="goToEdit(pratica.id)" matTooltip="Modifica dati" matTooltipPosition="before"><mat-icon >edit</mat-icon></button>
        <button mat-icon-button (click)="getPdf(pratica.id)" matTooltip="Scarica documento pdf" matTooltipPosition="before"><mat-icon>file_download</mat-icon></button> 
        <button mat-icon-button *ngIf="(pratica.status < 30)" (click)="archivia(pratica)" matTooltip="Archivia iscrizione" matTooltipPosition="before"><mat-icon>archive</mat-icon></button>
        <button mat-icon-button (click)="goToAllegati(pratica.id, pratica.status)" matTooltip="Allegati" matTooltipPosition="before"><mat-icon>attach_file</mat-icon></button>
        <button mat-icon-button *ngIf="(pratica.status == 20)" (click)="completa_iscrizione(pratica)" matTooltip="Promuovi iscrizione in corrente" matTooltipPosition="before"><mat-icon>lock_open</mat-icon></button>
        <button mat-icon-button *ngIf="(pratica.status == 40)" (click)="creaUnClone(pratica)" matTooltip="Prepara iscrizione per modifica (creazione di una copia)" matTooltipPosition="before"><mat-icon>lock_outline</mat-icon></button>
            </mat-list-item>
            <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
          </ng-template>
        </mat-list>
      </ng-template>
    </mat-card>
  </td-layout-manage-list>    
  <td-layout-footer color="primary" tdMediaToggle="xs" [mediaClasses]="['text-center']">
    <div layout-gt-xs="row" layout-align="start center">
      <div class="mat-caption">{{copyrightString}} </div>
      <span flex></span>
      <div layout-gt-xs="row">
        <a href="http://www.anticorruzione.it/portal/public/classic/Servizi" target="_blank" mat-button class="text-upper">Servizi</a>
        <a href="http://www.anticorruzione.it" target="_blank" mat-button class="text-upper">Home</a>
      </div>
    </div>
  </td-layout-footer>
</td-layout-nav>