
<mat-card>
        <mat-card-title>Modifica documento</mat-card-title>
        <mat-card-subtitle>Modifica contenuto documento guida {{docName}}</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-tab-group mat-stretch-tabs>
          <mat-tab>
            <ng-template matTabLabel>Modifica Contenuto</ng-template>
            <mat-card-content>
                <div flex-gt-md="95" layout-gt-md="column" class="pad-sm">
                    <td-text-editor #editor flex-gt-md [(ngModel)]="editorVal"></td-text-editor>
                </div>
            </mat-card-content>
          </mat-tab>
          <mat-tab>
            <ng-template matTabLabel>Anteprima</ng-template>
            <mat-card-content>
              <div flex-gt-md="95" layout-gt-md="column" class="md-content pad-sm">
                  <td-markdown flex-gt-md [content]="editorVal"></td-markdown>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
          </mat-tab>
        </mat-tab-group>
        
        <mat-divider></mat-divider>
        <mat-card-actions>
          <div layout="row" layout-align="start center">
                <button mat-button color="primary" (click)="doSave()">SALVA</button>
                <button mat-button (click)="goBack()">CHIUDI</button>
          </div>
        </mat-card-actions>
      </mat-card>