.mat-toolbar .mat-toolbar-row {
  min-height: 85px;
  font-family: "Titillium Web", sans-serif!important;
  font-weight: 400;
}
.mat-icon-logo {
   height:80px!important;
   width: 100px;
}

:host ::ng-deep {
    mat-divider {
        display: block;
        border-top-style: solid;
        border-top-width: 1px;
    }
}