<div layout="column" layout-fill>
    <mat-toolbar color="primary" class="mat-whiteframe-z1">
      <mat-toolbar-row>
        <mat-icon class="mat-icon-logo" svgIcon="assets:logo_o"></mat-icon>
      <span>{{toolbarTitle}} </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="mat-content" layout-padding flex>
      <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
        <div flex-gt-xs="50">
          <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
            <mat-card-title>User registration</mat-card-title>
            <mat-card-subtitle>Register with valid email and password</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              <form #loginForm="ngForm">
                <div layout="row">
                  <mat-form-field flex> 
                    <input matInput #userElement #userControl="ngModel" placeholder="User email" type="text" maxlength="50" name="username" [(ngModel)]="username" required>
                    <span matPrefix><mat-icon>person</mat-icon></span>
                    <mat-hint align="start">
                      <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                    </mat-hint>
                    <mat-hint align="end">email</mat-hint>
                  </mat-form-field>
                </div>
                <div layout="row">
                  <mat-form-field flex > 
                    <input matInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                    <span matPrefix><mat-icon>lock</mat-icon></span>
                    <mat-hint align="start">
                      <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                    </mat-hint>
                    <mat-hint align="end">password</mat-hint>
                  </mat-form-field>
                </div>
                <div layout="row">
                    <mat-form-field flex (keyup.enter) = "doRegister()"> 
                      <input matInput #passElement #passControl="ngModel" placeholder="Password confirm" type="password" name="passwordConfirm" [(ngModel)]="passwordConfirm" required>
                      <span matPrefix><mat-icon>lock</mat-icon></span>
                      <mat-hint align="start">
                        <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                      </mat-hint>
                      <mat-hint align="end">same as password</mat-hint>
                    </mat-form-field>
                  </div>
              </form>
            
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions layout="row">
              <button flex mat-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="doRegister()">Register</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>    
    </div>
  </div>