<h2 mat-dialog-title>Iscrizione numero {{iscrizione.id}}</h2>
<mat-dialog-content class="error">

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Ok</button>
</mat-dialog-actions>