<td-layout #layout>
  <td-navigation-drawer #sidePanel sidenavTitle="Menu">
    <mat-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a mat-list-item [routerLink]="[item.route]" (click)="layout.close()"><mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
      </ng-template>
      <a mat-list-item [routerLink]="['/login']" (click)="layout.close()"><mat-icon>lock</mat-icon>Login</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="logged" td-navigation-drawer-menu>
      <a mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Disconnetti</a>
      <a mat-list-item (click)="admin()"><mat-icon>settings</mat-icon>Amministrazione</a>
    </mat-nav-list>
  </td-navigation-drawer>
  <router-outlet></router-outlet>
</td-layout>
