.collapsible-tree-node {
    cursor: pointer;
}
.collapsible-tree-node ghostCircle {
    fill: #fff;
    stroke: #888;
    stroke-width: 0.125em;
  }
  
  
.collapsible-tree-node ghostCircle:over {
    stroke-width: 0.375em;
  }

.ghostCircle circle:over {
    stroke-width: 0.375em;
  }
  

.collapsible-tree-node text {
    font: 1em sans-serif;
  }
  
.collapsible-tree-link {
    fill: none;
    stroke: #ccc;
    stroke-width: 0.125em;
  }

  
div.collapsible-tree-tooltip {	
    position: absolute;			
    text-align: center;
    width: 8em;					
    height: 2em;					
    padding-top: 0.5%;				
    font: 1em sans-serif;		
    background: #555;	
    color: white;
    border: 0;		
    border-radius: 0.25em;			
    pointer-events: none;			
  }