<div class="mat-line">
    <span flex></span>
 <!--   <ng-template tdLoading="p.state">     </ng-template> -->
    <button mat-icon-button (click)="start(processor.id)" matTooltip="Start" matTooltipPosition="before"><mat-icon [ngClass]="{'red-icon': running }">play_arrow</mat-icon></button>
    <button mat-icon-button (click)="stop(processor.id)" matTooltip="Stop" matTooltipPosition="before"><mat-icon >stop</mat-icon></button>
    <button mat-icon-button (click)="clear(processor.id)" matTooltip="Pulisci" matTooltipPosition="before"><mat-icon>clear</mat-icon></button>
    <span flex></span>
</div>