
<div layout="row" layout-align="end center" flex>
    <span flex></span>
    <nav hide-xs hide-sm class="text-upper text-sm" layout="row" >
      <a class="push-right text-nodecoration" [routerLink]="['/docs']" [routerLinkActive]="['active']">User guide</a>
      <a class="push-right text-nodecoration" [routerLink]="['/farm']" [routerLinkActive]="['active']">Farms</a>
      <a class="push-right text-nodecoration" [routerLink]="['/iscrizione']" [routerLinkActive]="['active']">Iscrizioni</a>
    </nav>
    <!--
    <button class="overflow-visible" mat-icon-button [matMenuTriggerFor]="notificationsMenu">
      <td-notification-count color="accent" [notifications]="updates.length + 1">
        <mat-icon>notifications</mat-icon>
      </td-notification-count>
    </button>
    <mat-menu #notificationsMenu="matMenu">
      <td-menu>
        <div td-menu-header class="mat-subheading-2 push-none">Aggiornamenti</div>
        <mat-nav-list dense>
          <ng-template let-item let-last="last" ngFor [ngForOf]="updates">
            <a mat-list-item [routerLink]="[item.route]">
              <mat-icon matListAvatar>{{item.icon}}</mat-icon>
              <h4 matLine><span class="text-wrap">{{item.description}}</span></h4>
              <p matLine>{{item.title}}</p>
            </a>
            <mat-divider></mat-divider>
          </ng-template>
          <a mat-list-item href="#" target="_blank">
            <mat-icon matListAvatar>change_history</mat-icon>
            <h4 matLine><span class="text-wrap">Aggiornamento dati</span></h4>
            <p matLine>...</p>
          </a>
        </mat-nav-list>
        <a mat-button color="accent" td-menu-footer href="#" target="_blank">
          Consulta tutti aggiornamenti
        </a>
      </td-menu>
    </mat-menu>
    <button hide-xs mat-icon-button [matMenuTriggerFor]="settingsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item *ngIf="activeTheme === 'theme-dark'" (click)="theme('default-theme')">
        <mat-icon>brightness_high</mat-icon>
        <span>Light Mode</span>
      </button>
      <button mat-menu-item *ngIf="activeTheme != 'theme-dark'" (click)="theme('theme-dark')">
        <mat-icon>brightness_low</mat-icon>
        <span>Dark Mode</span>
      </button>
    </mat-menu>
  -->
  </div>