<mat-toolbar>
    <mat-toolbar-row>

        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span>Forms</span>
            <span flex></span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
        <!-- [alwaysVisible]="true"-->
            <mat-list class="will-load">
                <div class="pad" *ngIf="formsCpmponents?.length === 0" layout="row" layout-align="center center">
                    <h3>Non ci sono i form definiti.</h3>
                </div>
                <ng-template let-formComp let-last="last" ngFor [ngForOf]="formsCpmponents">
                    <mat-list-item>
                        <mat-icon matListAvatar>document</mat-icon>
                        <h3 matLine> {{formComp.nome}} </h3>
                        <p matLine> {{formComp.descrizione}} </p>
                        <span flex></span>
                            <button mat-icon-button cl ><mat-icon class="orange" (click)="goToEdit(formComp.nome)" matTooltip="Modifica" >edit</mat-icon></button>
                    </mat-list-item>
                    <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
            </mat-list>
    
    </mat-card>