<mat-card>
    <mat-card-title>Modifica campi form</mat-card-title>
    <mat-card-subtitle>Modifica etichette e campi del form dinamico {{formName}}</mat-card-subtitle>
    <mat-divider></mat-divider>
    <div layout-gt-md="column" class="bgc-grey-100 pad-sm" flex-gt-md="100">
            <mat-card flex>
                <mat-card-title>
                    <div layout="row" layout-align="start center" flex>
                        <div flex class="text-md">Visualizza JSON di definizione</div>
                        <button mat-icon-button matTooltip="Visualizza codice definizione del form" (click)="showDynamicCode = !showDynamicCode">
                            <mat-icon>code</mat-icon>
                        </button>
                    </div>
                </mat-card-title>
                <mat-divider></mat-divider>
                <div [style.overflow]="'hidden'" [@tdCollapse]="!showDynamicCode">
                    <td-highlight language="json" [content]="dynamicElements | json"></td-highlight>
                </div>
                <div class="pad">
                    <td-dynamic-forms #dynamicForm [elements]="dynamicElements">
                        <ng-template let-element ngFor [ngForOf]="dynamicElements">
                            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                <span *ngIf="control.touched || !control.pristine">
                                    <span *ngIf="control.hasError('required')">Required</span>
                                    <span *ngIf="control.hasError('min')">Min value: {{element.min}}</span>
                                    <span *ngIf="control.hasError('max')">Max value: {{element.max}}</span>
                                    <span *ngIf="control.hasError('minlength')">MinLength value: {{element.minLength}}</span>
                                    <span *ngIf="control.hasError('maxlength')">MaxLength value: {{element.maxLength}}</span>
                                </span>
                            </ng-template>
                        </ng-template>
                    </td-dynamic-forms>
                </div>
                <!--
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="text-upper" [disabled]="!dynamicForm.valid">
                        Submit
                    </button>
                </mat-card-actions> -->
            </mat-card>
            <mat-card-content>
                    <form #addForm="ngForm">
                        <div layout="row" layout-align="start center" class="pad-sm">
                            <mat-form-field class="pad-right" floatPlaceholder="never">
                                <mat-select placeholder="Seleziona tipo di campo" [(ngModel)]="type" name="type" required>
                                    <mat-option *ngFor="let option of elementOptions" [value]="option">
                                        {{ option }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button matTooltip="Add this element" mat-mini-fab color="accent" [disabled]="!addForm.valid" (click)="addElement()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </form>
                    <h4>Campi definiti</h4>
                    <ng-template let-model let-last="last" let-index="index" ngFor [ngForOf]="dynamicElements">
                        <td-expansion-panel [label]="model.name">
                            <mat-divider></mat-divider>
                            <div class="pad" layout="column">
                                <div layout="row">
                                    <mat-form-field class="pad-right-xs" flex>
                                        <input matInput
                                               placeholder="Label"
                                               [(ngModel)]="model.label"
                                               name="label">
                                    </mat-form-field>
                                    <mat-form-field flex="30">
                                        <input matInput
                                               type="number"
                                               min="0"
                                               max="100"
                                               placeholder="Flex (width in %)"
                                               [(ngModel)]="model.flex"
                                               name="flex">
                                    </mat-form-field>
                                </div> 
                                <div *ngIf="isMinMaxSupported(model.type)" layout="row">
                                    <mat-form-field *ngIf="!isDate(model.type)" class="pad-right-xs" flex>
                                        <input matInput type="number" placeholder="Min" [(ngModel)]="model.min" name="min">
                                    </mat-form-field>
                                    <mat-form-field *ngIf="isDate(model.type)" class="pad-right-xs" flex>
                                        <input matInput
                                               [matDatepicker]="minDatepicker"
                                               placeholder="Min"
                                               [(ngModel)]="model.min"
                                               name="min">
                                        <mat-datepicker-toggle matSuffix [for]="minDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #minDatepicker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="!isDate(model.type)" flex="50">
                                        <input matInput type="number" placeholder="Max" [(ngModel)]="model.max" name="max">
                                    </mat-form-field>
                                    <mat-form-field *ngIf="isDate(model.type)" flex="50">
                                        <input matInput
                                               [matDatepicker]="maxDatepicker"
                                               placeholder="Max"
                                               [(ngModel)]="model.max"
                                               name="max">
                                        <mat-datepicker-toggle matSuffix [for]="maxDatepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #maxDatepicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="isMinMaxLengthSupported(model.type)" layout="row">
                                    <mat-form-field class="pad-right-xs" flex>
                                        <input matInput
                                               type="text"
                                               placeholder="MinLength"
                                               [(ngModel)]="model.minLength"
                                               name="min">
                                    </mat-form-field>
                                    <mat-form-field flex="50">
                                        <input matInput
                                               type="text"
                                               placeholder="MaxLength"
                                               [(ngModel)]="model.maxLength"
                                               name="max">
                                    </mat-form-field>
                                </div>
                                <div layout="row">
                                    <mat-slide-toggle [(ngModel)]="model.required" name="required">Obbligatorio</mat-slide-toggle>
                                    <span flex></span>
                                    <button mat-icon-button matTooltip="Cancella" (click)="deleteElement(index)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </td-expansion-panel>
                    </ng-template>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-raised-button color="primary" class="text-upper" (click)="dynamicForm.refresh()">
                        Aggiorna anteprima
                    </button>
                </mat-card-actions>
        </div>   
    <mat-divider></mat-divider>
    <mat-card-actions>
      <div layout="row" layout-align="start center">
            <button mat-button color="primary" (click)="doSave()">SALVA</button>
            <button mat-button (click)="goBack()">CHIUDI</button>
      </div>
    </mat-card-actions>
  </mat-card>