<td-layout-nav-list #navList
                    logo="assets:logo_o"
                    toolbarTitle=""
                    navigationRoute="/"
                    [opened]="media.registerQuery('gt-sm') | async"
                    [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : ((media.registerQuery('sm') | async) ? 'push' : 'over')"
                    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <mat-nav-list td-sidenav-content>
    <ng-template let-item let-last="last" ngFor [ngForOf]="items">
        <a mat-list-item 
           [routerLink]="[item.route]" 
           [routerLinkActive]="['active']" 
           [routerLinkActiveOptions]="{exact:true}"
           [tdLayoutNavListClose]="!media.query('gt-sm')">
          <mat-icon matListAvatar>{{item.icon}}</mat-icon>
          <h3 matLine> {{item.title}} </h3>
          <p matLine> {{item.description}} </p>
        </a>
        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </ng-template>
  </mat-nav-list>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span hide-gt-sm flex>Guida utente</span>
    <td-toolbar flex layout="row"></td-toolbar>
  </div>
  <div class="theme-alt">
    <router-outlet></router-outlet>
  </div>
</td-layout-nav-list>