<td-layout-nav logo="assets:logo" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span>Application </span>
      <span flex></span>
      <td-toolbar td-toolbar-content flex layout="row"></td-toolbar>
    </div>
  <td-layout-card-over cardTitle="Modulo iscrizione" cardSubtitle="compilare {{action}} modulo iscrizione" >
    <ng-template tdLoading="iscrizione.form">
      <mat-card-content class="push-bottom-none">
		<!--Form dinamico dati personali-->
		<div class="md-padding">
            <form>
                <div layout="row">
                  <mat-form-field flex> 
                    <input matInput
                            type="text" 
                            placeholder="Nome" 
                            [(ngModel)]="userNome" 
                            name="userNome" 
                            disabled>
                  </mat-form-field>
                  <mat-form-field flex> 
                            <input matInput
                            type="text" 
                            placeholder="Cognome" 
                            [(ngModel)]="userCognome" 
                            name="userCognome" 
                            disabled>
                  </mat-form-field>
                </div>
                <div layout="row">
                    <mat-form-field flex> 
                             <input matInput
                              type="text" 
                              placeholder="Comune di nascita" 
                              [(ngModel)]="userComuneNascita" 
                              name="userComuneNascita" 
                              disabled>
                    </mat-form-field>
                    <mat-form-field flex> 
                              <input matInput
                              type="text" 
                              placeholder="Data di nascita" 
                              [(ngModel)]="userFeldDataNascita" 
                              name="userDataNascita" 
                              disabled>
                    </mat-form-field>
                </div>
                <div layout="row">
                    <mat-form-field flex> 
                      <input matInput
                              type="text" 
                              placeholder="Codice ficale" 
                              [(ngModel)]="userCF" 
                              name="userCF"  
                              disabled>
                    </mat-form-field>
                    <mat-form-field flex> 
                              <input matInput
                              type="text" 
                              placeholder="PEC" 
                              [(ngModel)]="userPec" 
                              name="userPec" 
                              disabled>
                    </mat-form-field>
                  </div>
              </form>
		</div>
		<td-steps (stepChange)="step_changed($event)" mode="horizontal">
        <td-step #step1 label="Sezione e sottosezione" [active]="true" [state]="stateStep1" (activated)="activeStep1Event()" (deactivated)="deactiveStep1Event()">
            <p><b>Chiede di essere iscritto all'Albo nazionale dei componenti delle commissioni giudicatrici nella/e sezione/i</b></p>
<!--Form dinamico dati sezione-->
            <div class="md-padding">
                <td-dynamic-forms [elements]="SezioneElements" #sezioneForm>
                    <ng-template let-element ngFor [ngForOf]="SezioneElements">
                        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                            <span *ngIf="control.touched || !control.pristine">
                                <span *ngIf="control.hasError('required')">Obbligatorio</span>
                            </span>
                        </ng-template>
                    </ng-template>
                </td-dynamic-forms>
                <div class="md-padding">
                    <td-dynamic-forms *ngIf="SezioneSpecialeVisible" [elements]="SezioneSpecialeElements" #sezioneSpecialeForm>
                        <ng-template let-element ngFor [ngForOf]="SezioneSpecialeElements">
                            <ng-template let-control="control" [tdDynamicFormsError]="element.name" style="white-space:pre-wrap">
                                <span *ngIf="control.touched || !control.pristine">
                                    <span *ngIf="control.hasError('required')">Obbligatorio</span>
                                </span>
                            </ng-template>
                        </ng-template>
                    </td-dynamic-forms>
                    </div>
                </div>
              
                <p><b>e nella/e seguente/i sottosezione/i professione/i</b></p>
                <td-expansion-panel-group>
                    <td-expansion-panel label="Professioni tecniche" sublabel="" #professioniTeschnicheExpansion>
                        <div class="md-padding">
                            <td-dynamic-forms [elements]="ProfessioniTechnicheElements" #professioniTeschnicheForm>
                                <ng-template let-element ngFor [ngForOf]="ProfessioniTechnicheElements">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                            <span *ngIf="control.hasError('required')">Obbligatorio</span>
                                        </span>
                                    </ng-template>
                                </ng-template>
                            </td-dynamic-forms>
                        </div>
                    </td-expansion-panel>
                    <td-expansion-panel label="Professioni del settore sanitario" sublabel="" #settoreSanitarioFormExpansion>
                        <div class="md-padding">
                            <td-dynamic-forms [elements]="SettoreSanitarioElements" #settoreSanitarioForm>
                                <ng-template let-element ngFor [ngForOf]="SettoreSanitarioElements">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                            <span *ngIf="control.hasError('required')">Obbligatorio</span>
                                        </span>
                                    </ng-template>
                                </ng-template>
                            </td-dynamic-forms>
                        </div>
                    </td-expansion-panel>
                    <td-expansion-panel label="Professioni in altri servizi e forniture" sublabel="" #altriServizieFornitureExpansion>
                        <div class="md-padding">
                            <td-dynamic-forms [elements]="AltriServiziFornitureElements" #altriServizieFornitureForm>
                                <ng-template let-element ngFor [ngForOf]="AltriServiziFornitureElements">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                            <span *ngIf="control.hasError('required')">Obbligatorio</span>
                                        </span>
                                    </ng-template>
                                </ng-template>
                            </td-dynamic-forms>
                        </div>
                    </td-expansion-panel>
                </td-expansion-panel-group>
        </td-step>
        <td-step #step2 label="Profilo richiedente" [active]="false"  [state]="stateStep2" [disabled]="true" (activated)="activeStep2Event()" (deactivated)="deactiveStep2Event()">
            <p> <b>Ai fini dell’iscrizione all’Albo, il sottoscritto, consapevole delle sanzioni penali richiamate dall’art. 76 del D.P.R. 28/12/2000 n. 445, in caso di dichiarazioni mendaci e di formazione o uso di atti falsi dichiara: </b></p>
            <p><b>di appartenere alla/e seguente/i categoria/e </b></p>
            <div class="md-padding">
                <td-dynamic-forms [elements]="CategorieElements" #categorieForm>
                    <ng-template let-element ngFor [ngForOf]="CategorieElements">
                        <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                            <span *ngIf="control.touched || !control.pristine">
                                <span *ngIf="control.hasError('required')">Obbligatorio</span>
                            </span>
                        </ng-template>
                    </ng-template>
                </td-dynamic-forms>
                </div>
        </td-step>
        <td-step #step3 label="Requisiti tecnici" [active]="false"  [state]="stateStep3" [disabled]="false" (activated)="activeStep3Event()" (deactivated)="deactiveStep3Event()">
                    <p><b>Dichiara inoltre: </b></p>
                    <div class="md-padding"> 
                        <td-dynamic-forms [elements]="PossessoRequisitiElements" #possessoRequisitiForm>
                            <ng-template let-element ngFor [ngForOf]="PossessoRequisitiElements">
                                <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                    <span *ngIf="control.touched || !control.pristine">
                                        <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                                        <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                                    </span>
                                </ng-template>
                            </ng-template>
                        </td-dynamic-forms>
                        <div class="md-padding">
                            <mat-radio-group [(ngModel)]="selectedCategory">
                                <div layout="row" *ngFor="let element of CategorieCheckedElements" >
                                <mat-radio-button flex class="example-radio-button" [value]="element.label">
                                    <p>{{element.label}} </p>
                                </mat-radio-button>
                                </div>
                            </mat-radio-group>
                        </div>
                    </div>
                    <p><b>Esperienza </b></p>
                        <div class="md-padding">
                            <td-dynamic-forms [elements]="RequisitiSezioneSottoSezione" #reqSezioneSottosezioneForm>
                                <ng-template let-element ngFor [ngForOf]="RequisitiSezioneSottoSezione">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                            <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                                            <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                                        </span>
                                    </ng-template>
                                </ng-template>
                            </td-dynamic-forms>
                        </div>
                        <p *ngIf="vediCodiceAusa"><b>di essere dipendente della seguente amministrazione aggiudicatrice: </b></p>
                        <div class="md-padding" *ngIf="vediCodiceAusa">
                            <td-dynamic-forms [elements]="codiceAusaElements" #codAusaForm >
                                <ng-template let-element ngFor [ngForOf]="codiceAusaElements">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                            <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                                            <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                                        </span>
                                    </ng-template>
                                </ng-template>
                            </td-dynamic-forms>
                            <p>Denominazione AUSA: <b>{{nomeAusa}}</b></p>
                        </div>
            </td-step>
            <td-step #step4 label="Pagamento iscrizione"  [state]="stateStep4" [disabled]="vediPagamento" (activated)="activeStep4Event()" (deactivated)="deactiveStep4Event()">
                    <p *ngIf="!vediPagamento" ><b>Commissario esonerato dal pagamento</b></p>
                    <p *ngIf="vediPagamento" ><b>di aver assolto al pagamento della tariffa di iscrizione per l'anno</b></p>
                    <div class="md-padding" *ngIf="vediPagamento">
                        <td-dynamic-forms [elements]="PagamentoIscrizione" #requisitiPagamentoIscrizioneForm>
                            <ng-template let-element ngFor [ngForOf]="PagamentoIscrizione">
                                <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                    <span *ngIf="control.touched || !control.pristine">
                                        <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                                        <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                                        <span *ngIf="control.hasError('pattern')">formato dato non conforme</span>
                                    </span>
                                </ng-template>
                            </ng-template>
                        </td-dynamic-forms>
                    </div>
            </td-step>
            <td-step #step5 label="Requisiti moralita'"  [state]="stateStep5" [disabled]="disabled" (activated)="activeStep5Event()" (deactivated)="deactiveStep5Event()">
                        <div class="md-padding" >
                            <td-dynamic-forms class="panello-moralita" [elements]="RequisitiMoralitaElements" #requisitiMoralitaForm>
                                <ng-template let-element ngFor [ngForOf]="RequisitiMoralitaElements">
                                    <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                        <span *ngIf="control.touched || !control.pristine">
                                            <span *ngIf="control.hasError('minlength')">Min length value: {{element.minLength}}</span>
                                            <span *ngIf="control.hasError('maxlength')">Max length value: {{element.minLength}}</span>
                                        </span>
                                    </ng-template>
                                </ng-template>
                            </td-dynamic-forms>
                        </div>
            </td-step>
            <td-step #step6 label="Riepilogo e fine" sublabel="." [state]="stateStep6" [disabled]="disabled">
                <p><a src="http://www.anticorruzione.it/portal/public/classic/MenuServizio/privacy"></a>Informativa sulla privacy</p>
                <div class="md-padding">
                    <td-dynamic-forms [elements]="PreSaveElements" #preSaveForm>
                        <ng-template let-element ngFor [ngForOf]="PreSaveElements">
                            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                                <span *ngIf="control.touched || !control.pristine">
                                    <span *ngIf="control.hasError('required')">Obbligatorio</span>
                                </span>
                            </ng-template>
                        </ng-template>
                    </td-dynamic-forms>
                </div>
			</td-step>
		</td-steps>
      </mat-card-content>
      <mat-divider></mat-divider>
	  	  
      <mat-card-actions class="bottoniera">
        <button mat-button [disabled]="activeStepIdx==0" (click)="indietro()">PRECEDENTE</button>
        <span flex></span>
        <button mat-button (click)="goBack()">CHIUDI</button>
        <span flex></span>
        <button mat-button (click)="avanti()">{{(activeStepIdx==5)?'SALVA':'SUCCESSIVO'}}</button>
      </mat-card-actions>

    </ng-template>
	
  </td-layout-card-over>

</td-layout-nav>
