<div [@routerTransition] id="TenantLands">
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("LandAdmin")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("LandAdminHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
                <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Administration.Farms.Create')" (click)="createFarm()"
                        class="btn btn-primary blue">
                    <i class="fa fa-plus"></i> {{l("CreateNewLand")}}
                </button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div class="omica-grid two-column host-animate-in">

                    <div class="core-rail" role="main">
                        <!-- BEGIN: Land List -->
                        <omica-land-list class="omica-box" (openLand)="viewFarm($event)" > </omica-land-list>
                    </div>    
                    <div class="right-rail" role = "presentation">
                        <section class="omica-card">
                            <omica-map></omica-map>
                        </section>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>