// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for mat-icon-button
a[mat-icon-button] {
    line-height: 36px;
}
.mat-icon.mat-icon-logo {
    padding-left: 20px;
    height:60px!important;
    width: 80px;
  }
.toolbar-title {
    color: rgba(240, 240, 240, 0.6);
    font-weight: 600;
    font-size: 24px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font: outline;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}