<td-data-table #nodesTable [data]="data" [columns]="columns" [selectable]="selectable"
                      [clickable]="clickable" [multiple]="multiple" [sortable]="sortable" [sortBy]="sortBy"
                      [(ngModel)]="selectedRows" [sortOrder]="sortOrder"
                      (sortChange)="onSortChanged($event)"
                      (rowClick)="onRowClick($event)"
                      [style.height.px]="500">
                      <ng-template tdDataTableTemplate="id" let-value="value">
                          <div layout="row">
                            <button mat-icon-button (click)="goToEdit(value)" ><mat-icon  matTooltip="Visualizza dati">edit</mat-icon></button>
                            <button mat-icon-button (click)="goDelete(value)" ><mat-icon  matTooltip="Visualizza dati">delete</mat-icon></button>
                            <span flex>{{value}}</span>
                          </div>
                      </ng-template>
                      <ng-template tdDataTableTemplate="subtype" let-value="value">
                          <div layout="row">
                              <span flex>{{value}}</span>
                          </div>
                      </ng-template>
                      <ng-template tdDataTableTemplate="status" let-value="value">
                          <div layout="row">
                              <span flex>{{getStatus(value)}}</span>
                          </div>
                      </ng-template>
                      <ng-template tdDataTableTemplate="name" let-value="value">
                          <div layout="row">
                                <span flex>{{value}}</span>
                          </div>
                      </ng-template>
                      <ng-template tdDataTableTemplate="parent" let-value="value">
                          <div layout="row">
                              <span flex>{{value}}</span>
                      </div>
                      </ng-template>
</td-data-table>