<mat-toolbar>
    <mat-toolbar-row>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span>Nodes</span>
            <span flex></span>
            <button mat-icon-button (click)="addNode()"><mat-icon>add</mat-icon></button>
            <button mat-icon-button><mat-icon>sort</mat-icon></button>
            <button mat-icon-button><mat-icon>settings</mat-icon></button>
            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
            <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="doSearch($event)"></td-search-box>
        </div>
    </mat-toolbar-row>
</mat-toolbar>


<mat-card class="push-bottom-xxl">
    <mat-card-content>
        <div class="md-padding" layout-align="start center" flex>
            
        </div>
        <div class="md-padding" layout-align="start center" flex>
            <ng-template tdLoading="nodes.search">
                    <qs-node-table-view #nodesTableView [data]="filteredNodes">

                    </qs-node-table-view>
                    <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
                      <span hide-xs>Righe per pagina:</span>
                      <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                        <mat-option *ngFor="let size of [25,50,100,200]" [value]="size">
                          {{size}}
                        </mat-option>
                      </mat-select>
                      {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
                    </td-paging-bar>
                </ng-template>
                </div>
    </mat-card-content>
</mat-card>