<mat-divider></mat-divider>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
              <ng-template matTabLabel>Info</ng-template>
              <mat-card-content>
                  <div flex-gt-md="95" layout-gt-md="column" class="pad-sm">
<!--                      <td-text-editor #editor flex-gt-md [(ngModel)]="editorVal"></td-text-editor> -->
                  </div>
              </mat-card-content>
        </mat-tab>
        <mat-tab>
              <ng-template matTabLabel>Property</ng-template>
              <mat-card-content>
                <div flex-gt-md="95" layout-gt-md="column" class="md-content pad-sm">
<!--                    <td-markdown flex-gt-md [content]="editorVal"></td-markdown> -->
                </div>
              </mat-card-content>
              <mat-divider></mat-divider>
        </mat-tab>
        <mat-tab>
                <ng-template matTabLabel>Audit</ng-template>
                <mat-card-content>
                  <div flex-gt-md="95" layout-gt-md="column" class="md-content pad-sm">
  <!--                    <td-markdown flex-gt-md [content]="editorVal"></td-markdown> -->
                  </div>
                </mat-card-content>
                <mat-divider></mat-divider>
        </mat-tab>
        <mat-tab>
                <ng-template matTabLabel>Children</ng-template>
                <mat-card-content>
                  <div flex-gt-md="95" layout-gt-md="column" class="md-content pad-sm">
  <!--                    <td-markdown flex-gt-md [content]="editorVal"></td-markdown> -->
                  </div>
                </mat-card-content>
                <mat-divider></mat-divider>
        </mat-tab>
    </mat-tab-group>
<mat-divider></mat-divider>
