<td-layout-card-over cardTitle="Edit node {{id}}" cardSubtitle="Edit values of node">
        <mat-card-content>
            <qs-node-edit #formEdit (data)="data" (onChanged)="dataChanged($event)" ></qs-node-edit>
        </mat-card-content>
        <mat-divider></mat-divider>  	  
        <mat-card-actions class="bottoniera">
                <span flex></span>
                <button mat-button (click)="save()">SALVA E CHIUDI</button>
                <span flex></span>
                <button mat-button (click)="goBack()">CHIUDI</button>
                <span flex></span>
        </mat-card-actions>
</td-layout-card-over>