<td-layout-nav logo="assets:logo_o" navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span class="toolbar-title" >{{toolbarTitle}} </span>
    <span flex></span>
    <td-toolbar td-toolbar-content flex layout="row"></td-toolbar>
  </div>

  <section class="bgc-blue-grey-100" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
    <!-- sezione landing image -->
    <section class="bgc-blue-grey-100">
      <div layout="row">
        <div flex flex-order-xs="2" class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xs', 'pad-left-xl']">
          <div class="push-top-xl" hide-xs></div>
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">
            <div layout="row" layout-align="start center">
              <h1 class="mat-display-1 tc-blue-grey-50 push-top-xs push-bottom-sm" tdMediaToggle="xs" [mediaClasses]="['mat-headline']">
                CRESCERE IN SICUREZZA
              </h1>
            </div>
            <p>
              “scienze omiche quelle discipline che utilizzano tecnologie di analisi che consentono la produzione di informazioni (dati), in numero molto elevato e nello stesso intervallo di tempo, utili per la descrizione e l’interpretazione del sistema ….
            </p>
            <p>
              studiato….
            </p>
            <p>
              Le scienze omiche ... costituiscono le sorgenti di dati per una nuova disciplina ….. che ha lo scopo di creare i modelli per l’integrazione dei dati e fornire modelli predittivi per la valutazione del funzionamento complesso del sistema studiato………tutte le s. o. si servono di una o più piattaforme di profiling per caratterizzare il sistema … in esame…”
            </p>
            <div class="push-top-xl" hide-xs></div>
            <button mat-raised-button color="accent" class="text-upper" tdMediaToggle="gt-xs" [mediaClasses]="['text-xxl']" [routerLink]="['/docs']">Guida utente</button>
            <button mat-raised-button color="accent" class="text-upper" tdMediaToggle="gt-xs" [mediaClasses]="['text-xxl']" (click)="addNode()">Create Node</button>
          </div>
          <div class="push-bottom-xl" hide-xs></div>
        </div>
        <div flex="40" flex-xs="20" flex-order-xs="1" layout-gt-xs="column" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl', 'pad-right-xl']">
          <mat-icon class="mat-icon-svg-xxl" svgIcon="assets:logo" tdMediaToggle="xs" [mediaClasses]="['push-top', 'push-left']"></mat-icon>
        </div>
      </div>
    </section>
    <div>
      <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab>
          <ng-template matTabLabel>Farms</ng-template>
          <mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
            <ng-template tdLoading="farm.load">
              <mat-list class="will-load">
                <div class="pad" *ngIf="wsChildren?.length === 0" layout="row" layout-align="center center">
                  <h3>Farm list</h3>
                </div>
                <ng-template let-farm let-last="last" ngFor [ngForOf]="wsChildren">
                  <mat-list-item>
                    <mat-icon matListAvatar>receipt</mat-icon>
                    <h3 matLine> {{farm.name}} </h3>
                     
                    <p matLine>{{farm.name}} {{farm.owner}} - {{farm.parent}} </p>
                    <p matLine> Numero: {{farm.id}} </p>
                   <!--
                    <p matLine hide-gt-md class="mat-caption"> ultima modifica: {{ farm.modifiedOn | timeAgo }} </p>
                    <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                      <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ getStatusString(farm) }} </div>
                        <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ farm.createdOn | date }} </div>
                        <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ farm.modifiedOn | timeAgo }} </div>
                    </span>
                    -->
                    
                    <span flex></span>
                    <!--
                    <button mat-icon-button *ngIf="(farm.status < 30)" (click)="goToEdit(farm.id)" matTooltip="Modifica dati" matTooltipPosition="before"><mat-icon >edit</mat-icon></button>
                    -->
                    <button mat-icon-button (click)="getPdf(farm.id)" matTooltip="Scarica documento pdf" matTooltipPosition="before"><mat-icon>file_download</mat-icon></button> 
                    <button mat-icon-button *ngIf="(farm.status < 30)" (click)="archivia(farm)" matTooltip="Archivia iscrizione" matTooltipPosition="before"><mat-icon>archive</mat-icon></button>
                    <button mat-icon-button (click)="goToAllegati(farm.id, farm.status)" matTooltip="Allegati" matTooltipPosition="before"><mat-icon>attach_file</mat-icon></button>
                    <button mat-icon-button *ngIf="(farm.status == 20)" (click)="completa_iscrizione(farm)" matTooltip="Promuovi iscrizione in corrente" matTooltipPosition="before"><mat-icon>lock_open</mat-icon></button>
                    <button mat-icon-button *ngIf="(farm.status == 40)" (click)="creaUnClone(farm)" matTooltip="Prepara iscrizione per modifica (creazione di una copia)" matTooltipPosition="before"><mat-icon>lock_outline</mat-icon></button>
                  
                  </mat-list-item>
                  <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                </ng-template>
              </mat-list>
            </ng-template>
          </mat-card>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>Tasks</ng-template>
          <mat-card-content>
            <p>HTML:</p>
    
          </mat-card-content>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>Features</ng-template>
          <mat-card-content>
            <p>HTML:</p>
    
          </mat-card-content>
        </mat-tab>
        <mat-tab>
          <ng-template matTabLabel>Info</ng-template>
          <mat-card-content>
            <p>HTML:</p>
    
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </div>
	<!-- sezione pulsanti navigazione sotto-->
    <section class="bgc-blue-grey-100">
      <div layout-gt-xs="row">
        <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad']">
          <div class="push-top-md" hide-xs></div>
          <div tdMediaToggle="gt-sm" [mediaClasses]="['push']">
            <mat-nav-list hide-gt-sm>
              <ng-template let-item let-last="last" ngFor [ngForOf]="sections">
                <a mat-list-item [routerLink]="[item.route]">
                  <mat-icon matListAvatar><span class="tc-{{item.color}}">{{item.icon}}</span></mat-icon>
                  <h3 class="tc-blue-grey-900" matLine> {{item.title}} </h3>
                  <p class="tc-blue-grey-700" matLine> {{item.description}} </p>
                </a>
                <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
              </ng-template>
            </mat-nav-list>
            <div layout="row" layout-wrap hide-xs hide-sm>
              <ng-template let-item let-last="last" ngFor [ngForOf]="sections">
                <div flex-gt-sm="33" class="pad-sm">
                  <a [routerLink]="[item.route]" mat-button class="pad">
                    <div layout="row" layout-align="start center" class="push-bottom-xs">
                      <mat-icon class="push-right-sm">
                        <span class="tc-{{item.color}}">{{item.icon}}</span>
                      </mat-icon>
                      <div class="mat-title push-none text-xxl tc-blue-grey-900">{{item.title}}</div>
                    </div>
                    <div class="mat-subheading-2 tc-blue-grey-700 text-wrap text-left"> {{item.description}} </div>   
                  </a>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="push-bottom-md" hide-xs></div>
        </div>
      </div>
    </section>
  </section>
      <!-- end content -->

      <!--SECTION LISTS-->
      <section class="bgc-blue-grey-100" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
        <h2 class="mat-display-1 text-upper text-center push-bottom">Current Team Openings</h2>
        <div  layout-gt-xs="row" layout-align-gt-xs="center center">
          <div layout-gt-xs="row" flex-gt-xs="90" layout-margin>
            <div flex-gt-xs="25">
              <mat-card>
                <mat-toolbar color="accent" class="bgc-blue-A400 push-bottom">
                  <span class="text-upper">Frontend</span>
                </mat-toolbar>
                <mat-card-subtitle>Openings</mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-list>
                  <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                    <mat-list-item>
                        <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                        <h4 matLine>Frontend Engineer</h4>
                    </mat-list-item>
                    <mat-divider mat-inset *ngIf="!last"></mat-divider>
                  </ng-template>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper">View All</a>
                </mat-card-actions>
              </mat-card>
            </div>
      
            <div flex-gt-xs="25">
              <mat-card>
                <mat-toolbar color="accent" class="bgc-light-blue-A400 push-bottom">
                  <span class="text-upper">Backend</span>
                </mat-toolbar>
                <mat-card-subtitle>Openings</mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-list>
                  <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                    <mat-list-item>
                        <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                        <h4 matLine>Backend Engineer</h4>
                    </mat-list-item>
                    <mat-divider mat-inset *ngIf="!last"></mat-divider>
                  </ng-template>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper">View All</a>
                </mat-card-actions>
              </mat-card>
            </div>
      
            <div flex-gt-xs="25">
              <mat-card>
                <mat-toolbar color="accent" class="bgc-cyan-A700 push-bottom">
                  <span class="text-upper">DevOps</span>
                </mat-toolbar>
                <mat-card-subtitle>Openings</mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-list>
                  <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                    <mat-list-item>
                        <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                        <h4 matLine>DevOps Engineer</h4>
                    </mat-list-item>
                    <mat-divider mat-inset *ngIf="!last"></mat-divider>
                  </ng-template>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper">View All</a>
                </mat-card-actions>
              </mat-card>
            </div>
            <div flex-gt-xs="25">
              <mat-card>
                <mat-toolbar color="accent" class="bgc-teal-A700 push-bottom">
                  <span class="text-upper">Quality</span>
                </mat-toolbar>
                <mat-card-subtitle>Openings</mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-list>
                  <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                    <mat-list-item>
                        <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                        <h4 matLine>Quality Engineer</h4>
                    </mat-list-item>
                    <mat-divider mat-inset *ngIf="!last"></mat-divider>
                  </ng-template>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper">View All</a>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="text-center push-top">
            <button mat-raised-button color="accent" class="mat-button-lg text-upper">View All Openings</button>
        </div>
      </section>
      <!--SECTION END PAGE-->
      <section class="bgc-blue-grey-800 tc-blue-grey-100">
        <div layout-gt-xs="row" layout-align-gt-xs="center center">
          <div layout-gt-xs="row" flex-gt-xs="80" layout-margin layout-padding>
            <div flex-gt-xs>
              <mat-nav-list>
                <h3 mat-subheader class="text-upper tc-blue-grey-100">About Teradata</h3>
                <mat-list-item>
                  <p matLine class="tc-blue-grey-300">Company Info</p>
                </mat-list-item>
                <mat-list-item>
                  <p matLine class="tc-blue-grey-300">Our Customers</p>
                </mat-list-item>
                <mat-list-item>
                  <p matLine class="tc-blue-grey-300">Press</p>
                </mat-list-item>
              </mat-nav-list>
            </div>
            <div flex-gt-xs>
              <mat-nav-list>
                <h3 mat-subheader class="text-upper tc-blue-grey-100">Career Info</h3>
                <mat-list-item>
                  <p matLine class="tc-blue-grey-300">Benefits</p>
                </mat-list-item>
                <mat-list-item>
                  <p matLine class="tc-blue-grey-300">Locations</p>
                </mat-list-item>
                <mat-list-item>
                  <p matLine class="tc-blue-grey-300">List item</p>
                </mat-list-item>
              </mat-nav-list>
            </div>
            <div flex-gt-xs="10">
            </div>
            <div flex layout="column" flex-gt-xs="30">
              <mat-icon class="push-top-md" svgIcon="assets:covalent" style="height:auto;width:auto;"></mat-icon>
              <p class="mat-body-1">&copy; Copyright 2017 Teradata, Inc. All rights reserved.</p>
            </div>
          </div>
        </div>  
      </section>
  <td-layout-footer color="primary" tdMediaToggle="xs" [mediaClasses]="['text-center']">
    <div layout-gt-xs="row" layout-align="start center">
      <div class="mat-caption">{{copyrightString}}</div>
      <span flex></span>
      <div layout-gt-xs="row">
        <a href="#" target="_blank" mat-button class="text-upper">Servizi</a>
        <a href="#" target="_blank" mat-button class="text-upper">Home</a>
      </div>
    </div>
  </td-layout-footer>
</td-layout-nav>
