<mat-toolbar>
    <mat-toolbar-row>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span>Utenti</span>
            <span flex></span>
            <td-search-box class="push-left push-right" placeholder="cerca per cf" [alwaysVisible]="true" (searchDebounce)="searchUsers($event)"></td-search-box>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="push-bottom-xxl">
        <div class="md-padding" layout-align="start center" flex>
             
                <div class="md-padding" *ngIf="filteredUsers?.length === 0" layout="row" layout-align="center center">
                  <h3>Non ci sono risultati delle ricerca.</h3>
                </div> 
                <td-data-table
                  #userTable
                  [data]="filteredUsers"
                  [columns]="columns"
                  [style.height.px]="500">
                  <ng-template tdDataTableTemplate="codiceFiscale" let-value="value">
                      <div layout="row">
                          <span flex>{{value}}</span>
                          
                      </div>
                  </ng-template>
                  <ng-template tdDataTableTemplate="stato" let-value="value">
                      <div layout="row">
                          <span flex>{{getStato4Value(value)}}</span>
                      </div>
                  </ng-template>
                  <ng-template tdDataTableTemplate="isAdmin" let-value="value">
                      <div layout="row">
                          <span flex><mat-icon class="red">{{getIcon4Val(value)}}</mat-icon></span>
                      </div>
                  </ng-template>
                  <ng-template tdDataTableTemplate="options" let-value="value" let-row="row" let-column="column">
                        <div layout="row">
                                <button mat-icon-button cl ><mat-icon class="orange" (click)="goToEdit(row.codiceFiscale)" matTooltip="Modifica utente" >edit</mat-icon></button>
                        </div>
                    </ng-template>
                </td-data-table>
                <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
                  <span hide-xs>Righe per pagina:</span>
                  <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                    <mat-option *ngFor="let size of [50,100,200,500]" [value]="size">
                      {{size}}
                    </mat-option>
                  </mat-select>
                  {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
                </td-paging-bar>
            </div>
</mat-card>
  